{{ define "main" }}
  <main>
    <article>
      {{ .Content }}
    </article>
    <h2>Campaign Logs</h2>
    <ul>
      {{ range where .Pages.ByTitle "Type" "log" }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
    </ul>
    <h2>Other Information</h2>
    <ul>
      {{ range where .Pages.ByTitle "Type" "!=" "log" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
